@font-face {
  font-family: 'IconMoon';
  src: url('./fonts/IcoMoon/IcoMoon-Free.ttf');
}

@font-face {
  font-family: 'LinearIcon';
  src: url('./fonts/Linearicons/Linearicons-Free.ttf');
}

@font-face {
  font-family: 'RockSalt';
  src: url('./fonts/Rock_Salt/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'SpecialElite-Regular';
  src: url('./fonts/Special_Elite/SpecialElite-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('./fonts/Lato/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('./fonts/Lato/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('./fonts/Lato/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('./fonts/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url('./fonts/Lato/Lato-LightItalic.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('./fonts/Lato/Lato-Thin.ttf');
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url('./fonts/Lato/Lato-ThinItalic.ttf');
}

:root {
  /* color-scheme */
  margin: 0;
  scroll-behavior: smooth;

  --lightest-color: #fff5e4;
  --light-color: #ffe3e1;
  --mid-color: #ffd1d1;
  --action-color: #ff9494;
}

.nightMode {
  --lightest-color: #bbe1fa;
  --light-color: #3282b8;
  --mid-color: #0f4c75;
  --action-color: #1b262c;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Lato-Regular', 'Courier New', Courier, monospace;
  background-color: var(--lightest-color);
}

h1,
h2,
p {
  margin: 0;
}

button {
  background-color: var(--action-color);
  color: var(--lightest-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

button:hover {
  background-color: var(--lightest-color);
  color: black;
}

.linearIcon {
  font-family: 'LinearIcon', 'Courier New', Courier, monospace;
}

.hidden {
  display: none;
}

#skipToMainContent {
  position: absolute;
  left: 2rem;
  transform: translateY(-170%);
  background-color: var(--action-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0 0 0.25rem;
}

#skipToMainContent:focus {
  transform: translateY(0%);
  border: none;
}

.textInput {
  padding: 0.5em;
  font-size: medium;
  border: solid var(--action-color) 1px;
  border-radius: 0.25rem;
}

header {
  background-color: var(--mid-color);
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
}

.searchCityContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.weatherContainer {
  display: grid;
  justify-content: center;
  padding: 2rem;
}

.dayContainer {
  background-color: var(--light-color);
  border: solid 2px var(--action-color);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.75rem;
}

.tempContainer {
  display: grid;
  align-items: start;
  grid-template-areas:
    'temp icon'
    'btn btn';
}

.temperature {
  font-size: 5em;
  margin: 0;
  grid-area: 'temp';
}

.iconContainer {
  grid-area: icon;
}

.ChangeTempBtn {
  grid-area: 'btn';
}
